*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(to left top, pink, lightblue, plum);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: rgba(255,255,255,0.3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;
    justify-content: center;
    align-content: center;
}

.text{
    font-size: 2.5rem;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkred;
    text-align: center;
    padding: 15%;
}

.otp-showcase {
  border: 3px solid #131842;
  padding: 9px 25px;
  width: fit-content;
  margin: auto;
  transform: translateY(-100%);

}

.otp-showcase span{
    font-size: 25px;
    color: black;
    letter-spacing: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    padding: 8px 28px;
    font-weight: 700;
    border-radius: 25px;
    background-color: crimson;
    color: bisque;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: cursive;
}

button:hover{
    background-color: beige;
    color: black;
}